In [23]:
from library import RSA
import pandas as pd
import rsa


obj = RSA(512)

USD_TO_INR = 82

df = pd.read_csv("ds_salaries.csv")

df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

In [24]:
df['salary_in_usd']

0        85847
1        30000
2        25500
3       175000
4       120000
         ...
3750    412000
3751    151000
3752    105000
3753    100000
3754     94665
Name: salary_in_usd, Length: 3755, dtype: int64

In [25]:
# using encryption
usd_df = df['salary_in_usd']
e_usd_df = usd_df.apply(lambda elem: obj.encrypt(elem))
e_inr_df = e_usd_df.apply(lambda elem: elem * obj.encrypt(USD_TO_INR))
inr_df = e_inr_df.apply(lambda elem: obj.decrypt(elem))
inr_df

0        7039454
1        2460000
2        2091000
3       14350000
4        9840000
          ...
3750    33784000
3751    12382000
3752     8610000
3753     8200000
3754     7762530
Name: salary_in_usd, Length: 3755, dtype: int64

In [26]:
#direct conversion
usd_df.apply(lambda elem: elem * USD_TO_INR)

0        7039454
1        2460000
2        2091000
3       14350000
4        9840000
          ...
3750    33784000
3751    12382000
3752     8610000
3753     8200000
3754     7762530
Name: salary_in_usd, Length: 3755, dtype: int64

In [27]:
e_usd_df

0       2959846549010150564468730702138123749515141652...
1       6363706037093217189816767380916679155908142400...
2       2754283636046775335107925235258692367591472388...
3       6458906159066449980842989335762103237916039415...
4       7259324006770819236158167925304666826294783968...
                              ...
3750    8037254043638807977901881908837004420276410270...
3751    2375082723924090354528579216758922140581794497...
3752    4773019841845020986417246103916384960046728377...
3753    2448701371800720189265075147401555032422683596...
3754    2105631959426208244930465413034734861382832337...
Name: salary_in_usd, Length: 3755, dtype: object

In [28]:
e_inr_df

0       1985194843520063146720659514520721628894110630...
1       4268193030054148896163807028529035852395068162...
2       1847322008534638177155521106791227885608073274...
3       4332044580502582183002450945151697143342513545...
4       4868891797955642029618620502475114065884014825...
                              ...
3750    5390656244942318453139228779937730947644850643...
3751    1592988656133037982149114423269828515107829801...
3752    3201305953248993221138022899429218466659077750...
3753    1642365324055393707205953279387421130538718522...
3754    1412265683030725298479736618120974628820912595...
Name: salary_in_usd, Length: 3755, dtype: object

In [29]:
usd_df.to_csv("usd_df.csv")
e_usd_df.to_csv("e_usd_df.csv")

In [30]:
(pub, priv) = rsa.newkeys(512)

In [52]:
rsa.encrypt(usd_df.head().to_json().encode('utf-8'), pub)

b'\x03:\xac\xcb\xea\xcd\xa5\x87\xd4\xe7\x82\xf0n\xe5rm\xe4\xf6c{\x90\xd1\xc2+\x0c\xbf\xaf\xca\xc9+*2\xff\x02!\x9f\x9c\xf2\t\xb5\xee9\xba\x17\xcfi#0@\x14\x05\xf7\x0bB\x87\x9a\xde\xfd*8\xf8\xd2\xd4\xb3'

In [57]:
usd_df.head().apply(lambda elem: obj.encrypt(elem))

0    2959846549010150564468730702138123749515141652...
1    6363706037093217189816767380916679155908142400...
2    2754283636046775335107925235258692367591472388...
3    6458906159066449980842989335762103237916039415...
4    7259324006770819236158167925304666826294783968...
Name: salary_in_usd, dtype: object

In [33]:
usd_df.head()

0     85847
1     30000
2     25500
3    175000
4    120000
Name: salary_in_usd, dtype: int64